@import config

// CUSTOM USER STYLES
.container
    width: 600px
    margin: 5em auto
    padding: 50px
    background-color: #1c1d22
    border-radius: 1em
    text-align: center
p
    text-align: center

@media (max-width: 700px)
    body
        background-color: #2a2b30;

    .container
        width: auto;
        margin: 0 auto;
        border-radius: 0;
        padding: 1em;
        text-align: center;